src/*.exe
src/carpediemcoin
src/carpediemcoind
src/test_carpediemcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.carpediemcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
carpediemcoin-qt
Carpediemcoin-Qt.app

# Unit-tests
Makefile.test
carpediemcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
